.header {
    margin-top: 60px;

}

.headerTitles {
    display: flex;
    flex-direction: column;
    font-family: "Apple SD Gothic Neo";
}

.headerTitleSmall {
    color: blue;
    font-size: 40px;
    position: absolute;
    width: 100%;
    top: 20%;
    left: 11%;

}

.headerTitleLg {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 11%;
}


.headerImg {
    width: 1150px;
    height: 400px;
    object-fit: cover;
    text-align: center;

}
.fig {
    text-align: center;
}